<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block
      th:replace="~{ fragments/head :: generic-head(${videogame.vgName}) }"
    ></th:block>
  </head>
  <body>
    <th:block
      th:replace="~{ fragments/header :: header-frag('videogames') }"
    ></th:block>
    <main class="container" th:object="${videogame}">
      <div class="row mt-5 align-items-stretch">
        <!-- Colonna sinistra -->
        <div class="col-12 col-md-3 mb-5">
          <img
            th:src="*{coverUrl}"
            class="img-fluid mh-100 w-100 object-fit-cover"
            alt=""
          />
        </div>

        <!-- Colonna destra -->
        <div class="col-12 col-md-9">
          <div class="card h-100">
            <h5 class="card-header" th:text="*{vgName}"></h5>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Description</h5>
              <p
                th:if="${videogame.description != null and !videogame.description.isEmpty()}"
                th:text="${videogame.description}"
              ></p>
              <p
                th:unless="${videogame.description != null and !videogame.description.isEmpty()}"
                th:text="'Descrizione assente'"
              ></p>
              <h5 class="card-title">Publisher</h5>
              <p class="card-text" th:text="*{publisher}"></p>
              <h5 class="card-title">Developer</h5>
              <p class="card-text" th:text="*{developer}"></p>
              <h5 class="card-title">Release Date</h5>
              <p
                class="card-text"
                th:text="${#temporals.format(videogame.publicationDate, 'dd/MM/yyyy')}"
              ></p>
              <h5
                class="card-title"
                th:if="${!videogame.consoles.isEmpty()}"
                th:text="'Consoles'"
              ></h5>
              <h5
                class="card-title"
                th:unless="${!videogame.consoles.isEmpty()}"
                th:text="'Consoles non disponibili'"
              ></h5>
              <div>
                <ul class="container-consoles-list">
                  <li
                    class="consoles-list"
                    th:each="console : ${videogame.consoles}"
                  >
                    <a th:href="@{|/consoles/${console.id}|}">
                      <img
                        class="small-icon-console"
                        th:src="${console.smallIconUrl}"
                        th:alt="${console.consoleName}"
                      />
                    </a>
                  </li>
                </ul>
              </div>

              <div class="mt-auto">
                <a th:href="@{/videogames}" class="btn btn-primary">Go Back</a>
                <a
                  class="btn btn-warning"
                  th:href="@{|/videogames/edit/${videogame.id}|}"
                  role="button"
                  >Edit</a
                >
                <button
                  class="btn btn-danger"
                  type="button"
                  data-bs-toggle="modal"
                  th:data-bs-target="'#delete-modal-' + ${videogame.id}"
                >
                  Delete
                </button>

                <!-- Modal -->
                <div
                  class="modal fade"
                  th:id="'delete-modal-' + ${videogame.id}"
                  tabindex="-1"
                >
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <form
                        th:action="@{|/videogames/delete/232|}"
                        method="post"
                      >
                        <div class="modal-header">
                          <h1
                            class="modal-title fs-5"
                            th:text="|Deleting ${videogame.vgName}|"
                          ></h1>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <h6
                            th:text="|Do you want to remove ${videogame.vgName} with id: ${videogame.id}|"
                          ></h6>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Go Back
                          </button>
                          <button class="btn btn-primary" type="submit">
                            Confirm
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <th:block th:replace="~{ fragments/header :: bootstrapJS }"></th:block>
  </body>
</html>
